td{
  margin: auto !important;
  min-width: 122px;
  min-height: 200px;
  padding: 10px;
  text-align: center;
}

th{
  min-width: 122px;
  min-height: 20px;
  padding: 5px;
  text-align: center;
}



.img-logo{
  width: 100px;
  height: 100px;
}

.page-contents{
  margin: auto !important;
  top: 50px;
}

.table-title{
  text-align: center;
}

body {
  margin: auto !important;
  width: 1300px !important;
  border: 3px solid #ffd625 !important;
  padding: 20px!important;
}

.table-title{
  width: 100%;
  text-align: center;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}




.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li.image{
  float: right;
}
li {
  float: left;

}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: lightgoldenrodyellow;
  color:black;
}

li.dropdown {
  display: inline-block;
  text-align: center;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: yellow;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}
